qwertyuiopasdfghjklzxcvbnm1234567890aaaaa

This is a sample script
for OpenPrompter.

This is meant to demonstrate what 
the system looks like 
and to provide for testing in the absence 
of a user-provided script.

ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
1234567890 !@#$%^&*() -=_+
[]\{}| ;':" <>?,./ 
